/* CSS for the button */
.button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button-17:hover {
    background: #c8cacf;
    color: #ffffff;
    
  }
  
  .button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    color:#565050
  }
  
  .button-17:focus {
    outline: none;
    border: 2px solid #ffffff;
  }
  
  .button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  /* CSS for the page background and general styles */
  body {
      overscroll-behavior: none; /* Prevents scroll bounce behavior */
      background: linear-gradient(to bottom, #C9CCD5, #FFFFFF); /* Add linear gradient */
      font-family: 'Times New Roman', Times, serif;
  }
  
  /* CSS for the drop container */
  .drop-container {
      position: relative;
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 20px;
      border-radius: 10px;
      border: 2px dashed #555;
      color: #444;
      cursor: pointer;
      transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
      background: #eee;
      border-color: #111;
  }
  
  .drop-container:hover .drop-title {
      color: #222;
  }
  
  .drop-title {
      color: #444;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      transition: color .2s ease-in-out;
  }
  
  /* CSS for the site header */
  .site-header {
      background: linear-gradient(to right, #495057, #343a40); /* Added linear gradient */
      color: #fff;
      display: flex;
      justify-content: center; /* Center the content horizontally */
      align-items: center; /* Center the content vertically */
      padding: 20px;
      position: sticky;
      top: 0;
      z-index: 1000;
  }
  
  .site-identity {
      display: flex;
      width: 100%;
      justify-content: space-between; /* Space out the logo and title */
      align-items: center;
  }
  
  .logo-container {
      flex: 0 0 auto; /* Ensure the logo container does not grow */
  }
  
  .title-container {
      flex: 1; /* Allow the title container to grow and take up available space */
      display: flex;
      justify-content: center; /* Center the title within the available space */
      align-items: center; /* Center the title vertically */
  }
  
  .logo-container img {
      max-width: 100px;
  }
  
  .title-container h1 {
    position: absolute;
    top: 50%; /* Adjust the vertical position */
    left: 50%; /* Adjust the horizontal position */
    transform: translate(-50%, -50%); /* Center the element */
    font-size: 30px; /* Adjust the font size as desired */
  }
  
  .title-container h1 a {
      color: #fff;
      text-decoration: none;
      float: inline-start;
  }
  
  /* CSS for margins */
  .text-center {
      text-align: center;
  }
  
  .mb-4 {
      margin-bottom: 1.5rem;
  }
  
  .mt-4 {
      margin-top: 1.5rem;
  }

  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  body {
    background-color: #000;
  }
  
  .ag-courses_box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  
  .ag-courses_item {
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

  }

  
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
    text-decoration: none;
  }
  
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  
  .ag-courses-item_link:hover .ag-courses-item_bg {
    transform: scale(10);
  }
  
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    z-index: 2;
    position: relative;
  }
  
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
  }
  
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    transition: color .5s ease;
  }
  
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #686D76;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
  }
  
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
  
  .position-relative {
    position: relative;
}

.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
